<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Customer</title>
</head>

<script src="/js/jQuery-2.1.4.min.js"></script>

<script>
	$(document).ready(function() {

		var formObj = $("#customer");

		$("#btnRegister").on("click", function() {
			formObj.attr("action", "/cus/register");
			formObj.attr("method", "post");
			formObj.submit();
		});

		$("#btnList").on("click", function() {
			self.location = "/cus/list";
		});

	});
</script>

<body>
	<h2>REGISTER</h2>
	
	<form id="customer" action="success.html" th:action="@{/register}" th:object="${customer}" method="POST">
		<table>
			<tr>
				<td>ID</td>
				<td><input type="text" name="jumin" th:field="*{jumin}"  /></td>
			</tr>
			<tr>
				<td>Name</td>
				<td><input type="text" name="name" th:field="*{name}"  /></td>
			</tr>
			<tr>
				<td>Address</td>
				<td><textarea name="addr" th:field="*{addr}" ></textarea></td>
			</tr>
			<tr>
				<td>Birth</td>
				<td><input type="date" name="birth" th:field="*{birth}" /></td>
			</tr>
			<tr>
				<td>Email</td>
				<td><input type="text" name="email" th:field="*{email}"  /></td>
			</tr>
			<tr>
				<td>Job</td>
				<td><input type="text" name="job" th:field="*{job}" /></td>
			</tr>
				<tr>
				<td>phnum</td>
				<td><input type="text" name="phnum" th:field="*{phnum}" /></td>
			</tr>
		</table>	
	</form>
	
	<div>
		<button type="submit" id="btnRegister">Register</button>
		<button type="submit" id="btnList">List</button>
	</div>
</body>
</html>
